html,
body {
   height: 100%;
}

body {
    font-family: monospace;
    background-color: #acced49c;
}

.title-position {
   display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-style {
    color: white;
}

.flex-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {

    margin: 20px 0;

}

.img-style {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.card-style {
    display: flex;
    box-shadow: #b7b2b2;
    justify-content: center;
    border-radius: 15px;
    padding: 40px 40px 40px 40px ;
    text-align: center;
    background-color: #31708f78;
    border: 1px solid #e5e5e5;
    margin-right: 1vw;
    width: 18%;
}

.temperature-align {
    display: inline-block;
}

.temperature-margin {
    margin-left: 0.5vw;
    color: #797979;
    font-size: 14px;
}

.card-position {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 1vw;
}

.form-align {
    display: inline-block;
}

.svg-size {
    width: 7%;
}

@media only screen and (max-width: 1024px) {
    .flex-container {
        height: auto;
    }

    .title-position {
        margin-top: 5vh;
    }

    .heather-title{
        text-align: center;
    }

    .card-position {
        flex-direction: column ;
    }

    .card-style {
        width: 150%;
    }
}